Source: update-notifier-tray
Section: unknown
Priority: optional
Maintainer: Sebastian Pipping <sebastian@pipping.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/hartwork/update-notifier-tray

Package: update-notifier-tray
Architecture: all
Depends: ${misc:Depends},
 gnome-packagekit,
 lsb-release,
 python (>= 2.7),
 tango-icon-theme
Description: Tray icon notifiying of new package updates
